<mat-nav-list>
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">
        <mat-icon> local_post_office</mat-icon>
        Tweets
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>trending_up</mat-icon>
        Analytics
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/target_accounts">
        <mat-icon>account_circle</mat-icon>
        Target Accounts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/keywords">
        <mat-icon>keyboard</mat-icon>
        Keywords
    </a>
</mat-nav-list>