<button (click)="order('retweet')" class="sortButton">
    <mat-icon [ngClass]="reverse ? 'hideIcon' : 'showIcon'">keyboard_arrow_down</mat-icon>
    <mat-icon [ngClass]="reverse ? 'showIcon' : 'hideIcon'">keyboard_arrow_up</mat-icon>
</button>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="sortBy($event)">
    <mat-button-toggle value="likes">
        <mat-icon>favorite</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="retweets">
        <mat-icon>find_replace</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="date">
        <mat-icon>date_range</mat-icon>
    </mat-button-toggle>
</mat-button-toggle-group>