#search-box {
    width: 100%;
    display: inline-block;
}

#search-bo:focus {
    outline: #336699 auto 1px;
}

input {
    padding: .4rem;
    width: 80%;
}

input:focus {
    outline: #336699 auto 1px;
}