<ng-template #content>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New {{name}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="dismis()"></button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="myinput">{{name}}</label>
            <input type="text" class="form-control" id="myinput" #myinput>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="save(myinput.value)">Add</button>
    </div>
</ng-template>

<button class="btn btn-sm btn-outline-primary" (click)="open(content)"><mat-icon>add</mat-icon></button>