<mat-card class="example-card">
    <mat-card-header>
        <img mat-card-avatar src={{imageUrl}}>
        <mat-card-title>{{ username }}</mat-card-title>
        <button type="button" class="btn btn-sml" (click)="remove()" style="position: absolute; right: 0;"><mat-icon>close</mat-icon></button>
    </mat-card-header>
    <br>
    <!-- <mat-card-content>
          <p style="display: inline;">{{ detail }}</p>
      </mat-card-content> -->
    <mat-card-actions>
    </mat-card-actions>
</mat-card>
<br>