<app-spinner overlay="true" [ngClass]="(wordcloudLoading || timeSeriesLoading) ? 'showSpinner' : 'hideSpinner'"></app-spinner>
<div #wordCloud>
    <div #wordCloudSibling></div>
</div>

<div #timeSeries>
    <div #timeSeriesSibling></div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="30" #topUsers style="display:inline;">
        <span #topUsersSibling style="display:none;"></span>
    </div>

    <div fxFlex="30" #topKeywords style="display:inline;">
        <span #topKeywordsSibling style="display:none;"></span>
    </div>

    <div fxFlex="40" #topTweets style="display:inline;">
        <span #topTweetsSibling style="display:none;"></span>
    </div>
</div>


<div #piechart style="width: 100%; display: block;">
    <div #piechartSibling style="display:none;"></div>
</div>

<br>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="25" #followers style="display:inline;">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Average Following Count Of Target Accounts</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{ followingAvg }}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25" #following style="display:inline;">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Average Followers Count Of Target Accounts</mat-card-title>
            </mat-card-header>
            <mat-card-content>{{ followersAvg }}</mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="25" #followers style="display:inline;">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Average Tweet Count Of Target Accounts</mat-card-title>
            </mat-card-header>
            <mat-card-content>{{ tweetAvg }}</mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="25" #following style="display:inline;">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Average Years Of Activity Of Target Accounts</mat-card-title>
            </mat-card-header>
            <mat-card-content>{{ yearsAvg }}</mat-card-content>
        </mat-card>
    </div>

</div>

<br>
<br>