<app-spinner overlay="true" [ngClass]="(wordcloudLoading || timeSeriesLoading) ? 'showSpinner' : 'hideSpinner'"></app-spinner>
<div #wordCloud>
    <div #wordCloudSibling></div>
</div>

<div #timeSeries>
    <div #timeSeriesSibling></div>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="30" #topUsers style="display:inline;">
        <span #topUsersSibling style="display:none;"></span>
    </div>

    <div fxFlex="30" #topKeywords style="display:inline;">
        <span #topKeywordsSibling style="display:none;"></span>
    </div>

    <div fxFlex="40" #topTweets style="display:inline;">
        <span #topTweetsSibling style="display:none;"></span>
    </div>
</div>

<br>
<br>
<br>
<br>