<div fxLayout="row" gdAligns="center stretch">
    <div fxFlex="5">
    </div>
    <mat-icon>search</mat-icon>
    <div fxFlex="70">
        <app-searchbar></app-searchbar>
    </div>
    <div fxFlex="10">
        <!-- <button mat-button color="primary">Add New Account</button> -->
        <app-basicmodal></app-basicmodal>
    </div>
</div>

<br>
<mat-divider></mat-divider>
<br>

<app-useraccount></app-useraccount>
<app-useraccount></app-useraccount>
<app-useraccount></app-useraccount>
<app-useraccount></app-useraccount>
<app-useraccount></app-useraccount>